<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" (click)="iconStudent()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-ios"><strong>Clases</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
  <ion-virtual-scroll [items]="class" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;" mode="ios">
      <img src="{{item.img}}" />
      <div (click)="detailPage(item)">
        <div class="card-title">{{ item.name }}</div>
        <div class="card-timeTable">{{ item.timetable }}</div>
        <div class="card-professorName">{{ item.professorName }}</div>
      </div>
    </ion-card>
  </ion-virtual-scroll>
  <br>
</div>
</ion-content>

