<ion-header>
  <ion-toolbar>
    <div class="divHeader">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light" (click)="iconStudent()"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-ios" color="light"><strong>Soporte</strong></ion-title>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <br><br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <img src="./assets/icon/HMDSchool2.png">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col class="ion-text-center">
         <ion-title class="ion-title">¿Cómo podemos ayudarte?</ion-title>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-card class="ion-card">
            <div (click)="expandItem(item)" *ngFor="let item of items">
              <div class="colorHeaderCard">
                <ion-item class="ion-item">
                  <ion-label class="sizeFontName"><strong>{{item.question}}</strong></ion-label>
                  <ion-icon *ngIf=" item.expanded == false" color="dark" size="small"
                    src="./assets/icon/chevron-down.svg"></ion-icon>
                  <ion-icon *ngIf=" item.expanded == true" color="dark" size="small" src="./assets/icon/chevron-up.svg">
                  </ion-icon>
                </ion-item>
              </div>
              <div class="colorContentCard">
                <app-expandable expandHeight="150px" [expanded]="item.expanded">
                  <br>
                  <p>
                    {{item.detail}}
                  </p>
                </app-expandable>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>