<ion-header>
  <ion-toolbar>
    <div class="divHeader">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light" (click)="iconStudent()"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-ios" color="light"><strong>Tareas</strong></ion-title>
        <div class="right">
          <input matInput [matDatepicker]="picker" name="mydate" readonly class="input" [(ngModel)]="mydate" (dateInput)="obtainHomework()">
          <mat-datepicker-toggle matSuffix [for]="picker" class="colorIcon"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <br>
    <ion-grid>
      <div>
        <ion-row>
          <ion-col>
            <h3 class="divTitle">{{tittle}}</h3>
          </ion-col>
        </ion-row>
        <div class="sizeDiv">
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
        </div>
        <br> <br>
        <div *ngFor="let item of homework">
          <ion-row>
            <ion-col>
              <ion-list no-padding>
                <ion-item button mode="ios" (click)="detailPage(item)">
                  <div class="ProfileAvatr" slot="start">
                    <ion-avatar class="chatImage">
                      <div>
                        <img class="imgDoc" src="{{item.imgSrc}}">
                      </div>
                    </ion-avatar>
                  </div>
                  <ion-label>
                    <div class="withcount">
                      <div class="nameAvatar">
                        <h2>{{dayQuantity}}</h2>
                        <div class="cantAssigm">
                          <ion-label class="sizeFontDesc">{{item.assignment.length}}</ion-label>
                        </div>
                      </div>
                    </div>
                    <p class="widthHalf">{{item.date}}</p>
                  </ion-label>
                </ion-item>
                <br>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>