<div class="">
  <br><br>
  <ion-grid>
    <div class="sizeDivTitle">
      <ion-row>
        <ion-col>
          <div class="userSection">
            <ion-avatar slot="start">
              <img [src]="userDetails.profileUrl">
            </ion-avatar>
            <div padding-start class="userDetail">
              <ion-label class="userName">
                <strong>{{generalStudent.student}}</strong>
              </ion-label>
              <ion-text>{{generalStudent.studentId}}</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <br>
    <div class="sizeDiv">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontName"><strong> Nombre</strong></ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontDesc">{{generalStudent.student}}</ion-label>
            </ion-col>
          </ion-row>
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontName"><strong>Grado </strong></ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontDesc">{{generalStudent.grade}}</ion-label>
            </ion-col>
          </ion-row>
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontName"><strong>Sección</strong></ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontDesc">{{generalStudent.section}}</ion-label>
            </ion-col>
          </ion-row>
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontName"><strong>Maestro/a Guía</strong></ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontDesc">{{generalStudent.professor}}</ion-label>
            </ion-col>
          </ion-row>
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontName"><strong>Correo de Maestro/a Guía</strong></ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-label class="sizeFontMail">{{generalStudent.mailProfessor}}</ion-label>
            </ion-col>
          </ion-row>
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</div>