<ion-header>
  <ion-toolbar>
    <div class="divHeader">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-ios" color="light"><strong>{{date}}</strong></ion-title>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <br>
    <ion-grid>
      <div>
        <ion-row>
          <ion-col>
            <h3 class="divTitle">Asignaciones</h3>
          </ion-col>
        </ion-row>
        <div class="sizeDiv">
          <div class="backgroundDiv">
            <ion-label></ion-label>
          </div>
        </div>
        <br>
        <ion-virtual-scroll [items]="assignments">
          <div *virtualItem="let item;">
            <ion-item button mode="ios" (click)="detailPage(item)">
              <div class="ProfileAvatr" slot="start">
                <ion-avatar class="chatImage">
                  <div>
                    <img src="./assets/icon/homework.png">
                  </div>
                </ion-avatar>
              </div>
              <ion-label>
                <div text-wrap>
                  <h2>{{item.tittle}}</h2>
                </div>
                <p class="widthHalf">{{item.className}}</p>
              </ion-label>
            </ion-item>
            <br>
          </div>
        </ion-virtual-scroll>
        <br>
      </div>
    </ion-grid>
  </div>
</ion-content>